<!DOCTYPE html>
<html>
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <h1>Welcome to HitTastic! - An online music site</h1>
       
        <form action="/add-movie" method="post">
        <input type="text" placeholder="Enter Title" name="title"><br>
        <input type="number" placeholder="Enter Year" name="ry"><br>
        <input type="number" placeholder="Enter Score" name="sc"><br>
        <button type="submit">Login</button>
        
        </form>
        
        
    </body>
</html>
